<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="/"><img
        src="img/user-profile.png"
        alt="user profile"
        width="50"
        height="50"
      /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link 
            {{#if (equal currentPage "home")}}
            active fw-medium
            {{/if }}"
            aria-current="page"
            href="/"
          >Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link 
          {{#if (equal currentPage "blog")}}
            active fw-medium
          {{/if }}
          " href="/blog">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link
          {{#if (equal currentPage "testimonials")}}
            active fw-medium
          {{/if }}
          " href="/testimonials">Testimonals</a>
        </li>
      </ul>
      <a href="/contact" class="btn btn-primary">Contact me</a>
    </div>
  </div>
</nav>