{{#> layout}}

    <!-- Blog Detail -->
    <article class="container w-75 my-4">
      <div class="d-flex flex-column gap-3">
        <h1>Pasar Coding di Indonesia</h1>

        <p>30 Jan 2025 11:22 WIB | Alex Josua</p>

        <img
          src="img/class.webp"
          alt="In the classroom"
          class="blog-detail-img"
        />

        <p>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam
          nostrum assumenda, voluptates maiores sequi quisquam pariatur
          voluptatem non consequuntur dolor architecto, unde magni enim itaque.
          Nostrum quod veniam quaerat modi ducimus accusamus dolorem, repellat
          iusto, autem, ex in nesciunt eos mollitia quo numquam deserunt
          pariatur aut fugiat id maiores enim. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Recusandae adipisci, eaque non maxime
          quis rerum culpa illo ipsam, autem ex beatae fugiat dicta! Fugiat
          ipsam inventore ipsa libero nostrum, eligendi maiores! Deleniti
          temporibus quas unde voluptatibus perspiciatis molestiae iusto fugit
          voluptate commodi id, molestias maxime ut? Id vitae accusantium
          adipisci.
        </p>
      </div>
    </article>
{{/layout}}