{{#> layout}}
{{!-- Contact Form --}}
    <form
      action=""
      class="container w-50 my-3"
      onsubmit="submitContactForm(event)"
    >
      <h1>Contact Me!</h1>
      <div class="my-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" id="name" class="form-control border-2" />
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="text" id="email" class="form-control border-2" />
      </div>

      <div class="mb-3">
        <label for="subject" class="form-label">Subject</label>
        <input type="text" id="subject" class="form-control border-2" />
      </div>

      <div class="mb-3">
        <label for="skill" class="form-label">Skill</label>
        <select name="" id="skill" class="form-select">
          <option value="">Please select...</option>
          <option value="frontend">Frontend</option>
          <option value="backend">Backend</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="massege" class="form-label">Massege</label>
        <textarea
          name=""
          id="massege"
          class="form-control border-2"
          rows="5"
        ></textarea>
      </div>

      <div class="d-flex justify-content-end">
        <button class="btn btn-primary align-items-end">Submit</button>
      </div>
    </form>
{{/layout}}