<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Personal Web</title>
    <link rel="icon" href="user-profile.png" />

    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" href="/"><img
            src="img/user-profile.png"
            alt="user profile"
            width="50"
            height="50"
          /></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog">Blog</a>
            </li>
          </ul>
          <a href="/contact" class="btn btn-primary">Contact me</a>
        </div>
      </div>
    </nav>

    <form action="" class="contact-form" onsubmit="submitContactForm(event)">
      <h1>Contact Me!</h1>
      <div class="form-field">
        <label for="name">Name</label>
        <input type="text" id="name" />
      </div>

      <div class="form-field">
        <label for="email">Email</label>
        <input type="text" id="email" />
      </div>

      <div class="form-field">
        <label for="subject">Subject</label>
        <input type="text" id="subject" />
      </div>

      <div class="form-field">
        <label for="skill">Skill</label>
        <select name="" id="skill">
          <option value="">Please select...</option>
          <option value="frontend">Frontend</option>
          <option value="backend">Backend</option>
        </select>
      </div>

      <div class="form-field">
        <label for="massege">Massege</label>
        <textarea name="" id="massege" rows="10" cols="10"></textarea>
      </div>

      <button class="contact-form-button">Submit</button>
    </form>
    {{! <script src="scripts/contact.js"></script> }}
  </body>
</html>