{{#> layout currentPage = 'home'}}
    <!-- Profile Card -->
    <main class="content-container">
      <section id="profile-section">
        <div class="profile-card">
          <img src="img/profile-picture-h.jpg" alt="" class="img-card" />

          <h1 class="card-name">Naufal Ilyasa</h1>

          <p class="card-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis eius
            natus libero! Ut, facere eligendi quam veniam fugit nisi itaque?
          </p>
          <table class="table table-striped table-hover">
            <tr>
              <th>Experience</th>
              <th>Year</th>
            </tr>
            <tr>
              <td>Develop Personal Website</td>
              <td>2025</td>
            </tr>
          </table>
        </div>
      </section>

      <!-- Content Introduction -->
      <section id="introduction">
        <div id="what-i-do">
          <h1>What I do</h1>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Asperiores, tenetur commodi blanditiis iusto voluptates quos
            laborum. Aut aliquid ex delectus molestias sequi architecto unde
            doloribus alias voluptate beatae, totam fugit tenetur, magnam
            eligendi eum veritatis voluptatibus consectetur cupiditate iure
            eaque quod eius minus. Quo laborum fuga fugiat, tenetur perspiciatis
            animi!
          </p>
        </div>
        <div id="technologies">
          <div id="frontend">
            <img src="img/js.png" alt="" />
            <h2>Frontend Developer</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia
              voluptate harum labore blanditiis dolorem neque maiores.
            </p>
          </div>
          <div id="version-control">
            <img src="img/git.png" alt="" />
            <h2>Version Control</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia
              voluptate harum labore blanditiis dolorem neque maiores.
            </p>
          </div>
          <div id="automated-deployment">
            <img src="img/deploy.png" alt="" />
            <h2>Automated Deployment</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia
              voluptate harum labore blanditiis dolorem neque maiores.
            </p>
          </div>
        </div>
        <div id="socials">
          <h1>Found Me on</h1>
          <div class="container p-0">
            <a href="#" class="btn btn-light rounded-circle p-0 m-1 m-lg-3">
              <img src="img/facebook.png" alt="" />
            </a>
            <a href="#" class="btn btn-light rounded-circle p-0 m-1 m-lg-3">
              <img src="img/twitter.png" alt="" />
            </a>
            <a href="#" class="btn btn-light rounded-circle p-0 m-1 m-lg-3">
              <img src="img/instagram.png" alt="" />
            </a>
            <a href="#" class="btn btn-light rounded-circle p-0 m-1 m-lg-3">
              <img src="img/mail.png" alt="" />
            </a>
            <a href="#" class="btn btn-light rounded-circle p-0 m-1 m-lg-3">
              <img src="img/whatsapp.png" alt="" />
            </a>

          </div>
        </div>
      </section>
    </main>
{{/layout }}